<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.google.3fera.APParca"
	version 	= "1.0.0">

	<name>APParca</name>

	<description>
		Aplicaci—n para estacionar en zonas de pago.
	</description>

	<author href="http://www.3fera.com"
		email="info@3fera.com">
		3fera
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="android-installLocation" value="auto" />

	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />

	<preference name="orientation" value="portrait" />
</widget>