html, body {
    font-size: .9em;
    font-family: Arial, Helvetica, Sans-serif;
    background: #666666;
    padding: 0px;
}

.details-page {
    width: 100%;
    height: 100%;
}

#map_content {
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map_canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    text-shadow: none;
}
#login {
	background: url(../images/bgLoading.jpg) center center;
}
.sin-padding {
	padding: 0px !important;
}
.botones {
	background: url(../images/bg_botonera.png) repeat-x;
	height: 106px;
	bottom: 0;
	position: absolute !important;
	border-top: 0;
	width: 100%;
}

a.btn-run,
a.btn-stop {
	
	
	background: url(../images/boton_start.png) no-repeat;
	width: 118px;
	height: 118px;
	position: absolute;
	margin-left: 50%;
	left: -58px;
	bottom: 5px;
	
}
a.btn-stop {
	background: url(../images/boton_stop.png) no-repeat;
	
}
a.btn-euros,
a.btn-tools {

width: 91px;
height: 96px;
position: absolute;
margin-left: 50%;

bottom: 5px;
	
}
a.btn-euros {
	background: url(../images/boton_euro.png) no-repeat;
	left: -160px;
}
a.btn-tools {
	background: url(../images/boton_tools.png) no-repeat;
left: 68px;

	
}
.info {
	
	background-image: linear-gradient(bottom, rgb(235,235,235) 0%, rgb(252,252,252) 55%);
	background-image: -o-linear-gradient(bottom, rgb(235,235,235) 0%, rgb(252,252,252) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 0%, rgb(252,252,252) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 0%, rgb(252,252,252) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 0%, rgb(252,252,252) 55%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(235,235,235)),
		color-stop(0.55, rgb(252,252,252))
	);
	position: absolute;
	padding: 10px;
	width: 100%;
	bottom: 100px;
	
	box-shadow: -8px -2px 12px #333;
}

.col2 {
	
	display: inline-table;
	width: 50%;
	
}

.align-right  {
	
	text-align: right;
	
}
.cantidad {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-size: 220% !important;
	padding-right: 5%;
	float: right;
}
.cantidad span {
	display: block;
	font-size: 60%;
	
}
.direccion {
	float: left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	
}
.direccion span {
	display: block;
	font-size: 90%;
	
}

#logginDiv {
background-image: linear-gradient(bottom, rgb(31,31,31) 0%, rgb(92,92,92) 100%);
background-image: -o-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(92,92,92) 100%);
background-image: -moz-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(92,92,92) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(92,92,92) 100%);
background-image: -ms-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(92,92,92) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(31,31,31)),
	color-stop(1, rgb(92,92,92))
);

width: 66% !important;
padding: 20px;
position: absolute;
margin-left: 50%;
left: -37%;
margin-top: 10%;

}
#logginDiv h3 {
	
	color: white;
text-shadow: none;
font-size: 153%;
margin: 0px 0 15px 0;
font-weight: normal;
}

/* Quitar bg dialog */
.ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog {
    min-height: 100% !important;
    background: transparent !important;
}

/* BOTONES COLORES ZONAS */

.azul {
	background: #BDDAEF;
}
.verde {
	background: #BFF0DB;
}
.rojo {
	background: #a83324;
}

.ticket {
	border: 1px solid #333;
	padding: 10px;
	background: white;	
}
.ticket h1 {
	margin-top: 0;
}
.ticket ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ticket ul li {
	padding: 0;
	margin: 8px 0;
}


.ui-loader-default {
top: 0  !important;
left: 0  !important;
margin: 0  !important;
background: #666  !important;
opacity: 0.38  !important;
width: 100%  !important;
height: 100%  !important;
}

.ui-loader .ui-icon {
left: 50%  !important;
position: absolute  !important;
top: 50%  !important;
margin-left: -22px  !important;
margin-top: -22px  !important;
}


.tipoZonas.c_2{
	background-image: none;
	background-color: #D5FDB0;
}

.ui-btn-active.c2{
	background-color: #6FA83A!important;
}

.tipoZonas.c_1{
	background-image: none;
	background-color: #B0DEFD;
}
.ui-btn-active.c1{
	background-color: #4593C7!important;
}

a[title="Close"] {
	
	display: none !important;
	
}

.boton_grande .ui-btn-inner, #logginDiv .ui-btn-inner {
padding: 15px 20px !important;
font-size: 115% !important;
}
.oculto {
	
	display: none !important;
	
}
#periodoInactivo {
display: block;
position: absolute;
text-align: center;
left: 0;
margin-top: 0;
padding: 5px 28px;
border-radius: 5px 5px 0 0;
z-index: 100000000;
bottom: 173px;
width: 100px;
background-image: none;
background: #333;
color: white;
text-shadow: none;
font-size: 13px;
}
.ui-mobile .ui-page .ui-content .ui-collapsible .ui-collapsible-heading .ui-btn-text {
white-space: normal;
}
